<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Hemligheter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="DistributionUrl" value="" />
  </appSettings>
  <userSettings>
    <Hemligheter.Properties.Settings>
      <setting name="SelectedKeyVault" serializeAs="String">
        <value />
      </setting>
      <setting name="Resource" serializeAs="String">
        <value>https://management.core.windows.net/</value>
      </setting>
      <setting name="UseClipboard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSearchForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Authorities" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
    </Hemligheter.Properties.Settings>
  </userSettings>
</configuration>